@font-face {
    font-family: 'Brands';
    src: url('static/fonts/fa-brands-400.woff2') format('woff2');
}

[class^="b-"]:before,
[class*=" b-"]:before {
    font-family: "Brands";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;

    display: inline-block;
    line-height: 1em;
    width: 1em;
    height: 1em;
    text-align: center;
    vertical-align: middle;
}

.b-rust:before {
    content: '\e07a'
}