@font-face {
    font-family: 'Icons';
    src: url('static/fonts/fa-solid-900.woff2') format('woff2');
}

[class^="i-"],
[class*=" i-"] {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
}

[class^="i-"]:before,
[class*=" i-"]:before {
    font-family: "Icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;

    line-height: 1em;
    width: 1em;
    vertical-align: 1em;
    text-align: center;
    display: inline-block;
}

.i-info:before {
    content: '\f05a';
}

.i-privacy:before {
    content: '\f21b';
}

.i-donate:before {
    content: '\f4b9';
}

.i-sitemap:before {
    content: '\f5a0';
}

.i-angles-up:before {
    content: '\f102';
}

.i-sun:before {
    content: '\f185';
}

.i-moon:before {
    content: '\f186';
}

.i-edit:before {
    content: '\f044';
}

.i-coffee:before {
    content: '\f7b6';
}

.i-keyboard:before {
    content: '\f11c';
}

.i-bookmark:before {
    content: '\e0bb';
}

.i-bug:before {
    content: '\f188';
}

.i-copyright:before {
    content: '\f1f9';
}

.i-idcard:before {
    content: '\f2bb';
}

.i-profile:before {
    content: '\f2bd';
}

.i-pencil:before {
    content: '\f303';
}