[package]
name = "website"
version = "0.1.0"
edition = "2021"

[profile.release]
# less code to include into binary
panic = 'abort'
# optimization over all codebase ( better optimization, slower build )
codegen-units = 1
# optimization for size (aggressive)
opt-level = 'z'
# optimization for size
#opt-level = 's'
# link time optimization using using whole-program analysis
lto = true

[dependencies]
yew = "0.19.3"
yew-router = "*"
web-sys = { version = "0.3.58", features = ["HtmlInputElement"] }
wasm-bindgen = "0.2.81"
gloo-console = "0.2.1"
stylist = { version = "0.10.1", features = [
    "yew_integration",
] }
once_cell = "1.8.0"
