[package]
name = "website"
version = "0.1.0"
edition = "2021"

[profile.release]
# less code to include into binary
panic = 'abort'
# optimization over all codebase ( better optimization, slower build )
codegen-units = 1
# optimization for size (aggressive)
opt-level = 'z'
# optimization for size
#opt-level = 's'
# link time optimization using using whole-program analysis
lto = true

[dependencies]
yew = { version = "0.20.0", features = ["csr"] }
yew-router = "0.17.0"
stylist = { version = "0.12.0", features = [ "yew_integration"] }
wasm-bindgen = "0.2.83"
gloo-utils = "0.1.6"
gloo-timers = "0.2.4"
serde = "1.0.151"
js-sys = "0.3.60"

# TODO: Remove when stable
cssugar = { git = "https://github.com/simbleau/cssugar", rev = "bf8b51ce7bf7c004f6ef2d05c220cbe7e9bb8a2b" }
# TODO: Remove when stable
themer = { git = "https://github.com/simbleau/themer", rev = "7cc811a4b1d7a2ca1a3c39ea348e6f5d90d6f03e" }
# TODO: Remove when stable
accessible-ui = { git = "https://github.com/simbleau/accessible-ui", rev = "81a9e62de3b1e99753213357de183f7e12a0a779" }

# Logging
console_error_panic_hook = "0.1.7"
log = "0.4.17"
console_log = { version = "0.2.0" }

# Optimizations
once_cell = "1.15.0"

[dependencies.web-sys]
version = "0.3.60"
features = [
    "Screen",
    "Window",
    "HtmlInputElement",
    "Storage",
    "Element",
]