[package]
name = "website"
version = "0.1.0"
edition = "2021"

[profile.release]
# less code to include into binary
panic = 'abort'
# optimization over all codebase ( better optimization, slower build )
codegen-units = 1
# optimization for size (aggressive)
opt-level = 'z'
# optimization for size
#opt-level = 's'
# link time optimization using using whole-program analysis
lto = true

[dependencies]
yew = { version = "0.20", features = ["csr"] }
yew-router = "0.17"
stylist = { version = "0.12", features = ["yew_integration"] }
wasm-bindgen = "0.2"
gloo-utils = "0.2"
gloo-timers = "0.3"
serde = "1.0"
js-sys = "0.3"

# TODO: Remove when stable
themer = { git = "https://github.com/simbleau/themer", rev = "7cc811a4b1d7a2ca1a3c39ea348e6f5d90d6f03e" }

console_error_panic_hook = "0.1.7"
log = "0.4.17"
console_log = { version = "1.0" }
once_cell = "1.15"

[dependencies.web-sys]
version = "0.3.60"
features = [
  "CssStyleDeclaration",
  "Screen",
  "Window",
  "HtmlInputElement",
  "Storage",
  "Element",
]
