[package]
name = "website"
version = "0.1.0"
edition = "2021"

[dependencies]
yew = "0.19.3"
web-sys = { version = "0.3.58", features = ["console", "HtmlInputElement"] }
wasm-bindgen = { version = "0.2.81" }