[package]
name = "website"
version = "0.1.0"
edition = "2021"

[profile.release]
# less code to include into binary
panic = 'abort'
# optimization over all codebase ( better optimization, slower build )
codegen-units = 1
# optimization for size (aggressive)
opt-level = 'z'
# optimization for size
#opt-level = 's'
# link time optimization using using whole-program analysis
lto = true

[dependencies]
yew = "0.19.3"
yew-router = "0.16.0"
wasm-bindgen = "0.2.83"
stylist = { version = "0.10.1", features = [ "yew_integration"] }

gloo-storage = "0.2.2"
serde = { version = "1.0", features = ["derive"] }

# Logging
console_error_panic_hook = "0.1.7"
log = "0.4.17"
console_log = { version = "0.2.0" }

# Optimizations
once_cell = "1.14.0"
wee_alloc = "0.4.5"

[dependencies.web-sys]
version = "0.3.60"
features = [
    "Storage",
    "Element",
]