html,
body {
    margin: 0;
    height: 100%;
}

* {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

.input-container {
    margin-top: 2rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.85rem;
}

input {
    padding: 0.5rem;
    font-size: 1rem;
    width: 200px;
    border-radius: 0.5rem;
    border-color: #bbb;
    border-width: 1px;
    border-style: solid;
}

button {
    outline: none;
    border: none;
    background-color: #ffbc36;
    color: #fff;
    border-radius: 0.75rem;
    padding: 0.75rem 1.25rem;
    width: 200px;
    font-size: 1rem;
}

button:hover {
    cursor: pointer;
}