name: build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  TOOLCHAIN: nightly
  CARGO_TERM_COLOR: always

jobs:
  cache:
    runs-on: ubuntu-latest
    steps:
      - name: Cache dist/ directory
        uses: actions/cache@v3
        env:
          cache-name: cache-dist
        with:
          path: dist/
          key: dist
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Installing toolchain
        run: rustup update $TOOLCHAIN
      - name: Configuring toolchain
        run: rustup default $TOOLCHAIN
      - name: Build
        run: cargo build --target wasm32-unknown-unknown --verbose
      - name: Build dist/
        run: trunk build
      - name: Display structure of files
        run: ls -R
